<div id="totals-table" class="totals-table">
    <table>
        <tr class="total-row">
            <td>Total:</td>
            <td>{{total}} km</td>
        </tr>
        <tr class="status-row finished">
            <td>Finalizat:</td>
            <td>{{finished}} km</td>
        </tr>
        <tr class="status-row in-construction">
            <td>În construcție :</td>
            <td>{{in_construction}} km</td>
        </tr>
        <tr class="status-row planned">
            <td>Planificat:</td>
            <td>{{planned}} km</td>
        </tr>
        <tr class="status-row tendered">
            <td>Licitat:</td>
            <td>{{tendered}} km</td>
        </tr>
    </table>
</div>